
.slika {
  width: 100%;
  height: auto; /* Zadržava omjer slike */
}

.odabirDatuma{
  width: 300px;
}

.razdoblje-rezervacije {
  min-width: 230px;
  white-space: nowrap;
}

.react-datepicker__day.rezervirani-dan,
.react-datepicker__day--disabled.rezervirani-dan {
  background-color: #343a40;
  color: #fff;
  border-radius: 0.3rem;
}